*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Temporary and debug files
*.txt
*.php
!artisan
!composer.json
!package.json
!phpunit.xml
!vite.config.js
!tailwind.config.js
!postcss.config.js
!jsconfig.json
!app_ziggy.json
!ziggy.json
!.editorconfig
!.env.example
!.gitattributes
!.gitignore
!composer.lock
!package-lock.json
!README.md
