@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#f8f9fa] transition-colors duration-500;
    }
    
    .dark body {
        @apply bg-gray-950;
    }
}
